[Unit]
Description=PPCoin Daemon
After=network.target
RequiresMountsFor=/var/lib/nud

[Install]
WantedBy=multi-user.target

[Service]
User=nud
Restart=always
RestartSec=15
Type=forking
PIDFile=/run/nud/nud.pid
EnvironmentFile=/etc/conf.d/nud.conf
ExecStart=/usr/bin/nud -daemon \
                           -conf=/etc/peercoin/peercoin.conf \
                           -pid=/run/nud/nud.pid \
                           -datadir=/var/lib/nud \
                           $ARGS

InaccessibleDirectories=/home /boot /root
ReadOnlyDirectories=/etc /usr
DeviceAllow=/dev/null rw
PrivateTmp=true
